# Environment
NODE_ENV=development

# Auth Service
AUTH_SERVICE_PORT=4000
JWT_SECRET=your-super-secret-jwt-key
JWT_EXPIRES_IN=1h

# Notification Service
NOTIFICATION_SERVICE_PORT=4001

# Telegram Service
TELEGRAM_SERVICE_PORT=4002
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_ADMIN_CHAT_ID=your-admin-chat-id
TELEGRAM_SERVICE_URL=http://localhost:4002

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

AUTH_DB_NAME=auth_db
NOTIFICATION_DB_NAME=notification_db

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
